{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <div class="cabinet-link">
        <a href="/user/{{ request.user.id }}/">
            {{ request.user }}
        </a>
    </div>
{% endif %}

<h1 style="display: flex; justify-content: space-between; align-items: center;">
    <span>Товары</span>
    <!-- Ссылка на новость -->
    <span style="font-size: 1.2em;">
        <a href="news1">НОВОСТЬ ПРО АЙТИ</a>
    </span>
</h1>

{% for product in products %}
    <div>{{ product.id }}.
        <a href="/product/{{ product.id }}/">{{ product.name }}</a>
         - {{ product.price }} сом
    </div>
{% endfor %}

{% endblock %}
