{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'news.css' %}">
    <title>Айти новости</title>
</head>
<body>
    <div class="column">
        <h1>Айти новости</h1>
    </div>
    <div class="column">
        <h2 class="single_short">Цифровая сфера – одна из самых динамично развивающихся сфер экономики страны, и, казалось бы, намерение пополнить казну за счет доходных предприятий отрасли вполне логично. Однако насколько предполагаемое повышение ставки по налогу на прибыль до 5 % для IT-компаний в 2025–2027 годах оправданно и экономически обоснованно?</h2>
    </div>
    <div class="column">
        <h3 class="single_short1">В настоящем для этого сектора действует нулевая ставка, и в развернувшейся дискуссии по поводу законопроекта участники рынка в большинстве своем просят продлить льготу, сделать ее бессрочной. Есть, однако, и другие мнения. К примеру, генеральный директор «ТМТ Консалтинг» Константин Анкилов в комментарии, опубликованном в издании «Интерфакс», называет ставку в 5 % «сравнительно небольшой», которая, по его мнению, вряд ли окажет «существенное негативное влияние на бизнес IT-компаний». Не следует ожидать и заметного снижения инвестиционной активности от ее введения: «Сектор IT растет быстро и остается привлекательным направлением для вложений».
        Другой ракурс проблемы прослеживается в комментарии известного в Дагестане айти-специалиста Альберта Гасанова: «Инициатива исходит от Минфина РФ, – говорит он. – Видимо, они решили, что сфера IТ у нас в стране опередила весь мир». Скепсис эксперта усиливает то обстоятельство, что банки (как минимум Сбер и ВТБ) уже перестали выдавать IТ-ипотеку, ссылаясь на отсутствие финансирования.
        На фоне того, что страну покинула масса айти-специалистов, подобное решение также не прибавляет оптимизма эксперту: «По информации главы Минцифры Максута Шадаева, к концу 2022 года из России уехало более 100 тысяч работников из сферы IТ. Да, небольшая часть их вернулась, но остальные осели в соседних странах. Немало российских IТ-компаний также приняли решение релоцироваться в другие страны. Почему? А потому, что многие страны бывшего СССР и Ближнего Востока могут похвастаться комфортной инфраструктурой и специальными налоговыми режимами, которые сильно облегчают жизнь IТ-бизнесу. Вывод сделать несложно: мы отстаём, и перспективы на ближайшее время для IТ в нашей стране не самые радужные».
        Впрочем, не все столь категоричны. В частности, отдельные айти-компании не подпадают под предполагаемый налог на прибыль. Есть те, кто платит фиксированные 6 процентов, то есть работают по упрощенной системе налогообложения. В их числе московская компания «Русэнергосервис».
        Дагестанец Абдурахман Гадисов – программист, работающий в этой московской фирме, говорит, что дефицит в айти-специалистах имеет и свою позитивную сторону. В настоящем программистам и специалистам различных профилей существенно поднимают заработную плату. Много ныне, с его слов, и заказов для таких компаний. По крайней мере, в Москве и Московской области активно идет цифровизация самых различных сфер экономики, торговой сферы и услуг ЖКХ.
        Коммерческий директор компании «Русэнергосервис» Ульяна Каретникова отмечает, что в айти-индустрии страны в последние годы было введено достаточно много преференций для бизнеса. По ее мнению, следует также учитывать, что ранее налог на прибыль составлял 20 %, но потом ставку снизили до 3 %.
        «Если некогда предприниматели этой сферы платили серые зарплаты, то налоговая политика последних лет создала ныне условия, чтобы делать это стало невыгодно, – отмечает она. – У нас все прозрачно и открыто сегодня. Упрощенка также дает нам преференции: помимо фиксированных 6 % применять налоговые вычеты на половину объёмов всех платежей и вносов за работников в различные фонды».
        Не собираются в этой московской компании также сворачивать свои инвестиционные планы. Они по большей части в продвижении в регионы собственных технологических проектов. В частности, в сфере ЖКХ. Под аббревиатурой проектов компании «ВИС МВИТУ» и «РГИС ПРИО» кроется система автоматизации, то есть оптимизации диспетчерской службы для предотвращения аварии, которая в настоящем реализуется ими в Москве и Московской области. Цифровизация способна навести порядок даже в коммуналке. В столице страны к этому уже приступили. Добро пожаловать в Дагестан!</h3>
    </div>
</body>




</html>